:host {
  min-height: 100vh;
  max-height: 100vh;
  padding: 16px 32px;

  display: block;

  background-color: white;
}

.container {
  .form {
    display: flex;
    flex-flow: column nowrap;

    &__header {
      margin-bottom: 16px;
    }

    &__body {
      display: flex;
      flex-flow: row nowrap;
      align-items: flex-start;

      .left {
        display: flex;
        flex-flow: column nowrap;
        min-width: 350px;

        .form__image {
          margin: 16px 0;

          display: flex;
          flex-flow: row nowrap;
          align-items: center;

          .image {
            max-width: 100px;
            max-height: 100px;
            margin-right: 16px;
          }
        }

        .form__field {
          margin-bottom: 16px;
        }
      }

      .right {
        width: 100%;

        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-items: flex-start;

        .title {
          width: 100%;
        }

        .row {
          margin: 8px;
          display: flex;
          flex-flow: row nowrap;
          align-items: center;

          .title {
            margin-right: 16px;
          }

          .select {
            height: 60px;
            margin-bottom: 8px;
          }
        }
      }
    }

    &__footer {
      margin: 64px 0;
      display: flex;
      flex-flow: row nowrap;
      justify-content: center;
    }
  }
}

.success-container {
  min-height: 100vh;

  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;

  background-color: white;
}
