$my-primary-color: (
  50: #e7e3ff,
  100: #c2b8ff,
  200: #9a89ff,
  300: #715aff,
  400: #5236ff,
  500: #3413ff,
  600: #2f11ff,
  700: #270eff,
  800: #210bff,
  900: #1506ff,
  A100: #ffffff,
  A200: #f4f3ff,
  A400: #c2c0ff,
  A700: #aaa7ff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);
